:root {
  --primary-color: #2c3e50;
  --background-color: #8DD3C7;
  --foreground-color: #2c3e50;
}

#app {
  font-family: Avenir, Nunito Sans, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--primary-color);
}

hr {
  border: none;
  border-bottom: 1px solid;
  width: 400px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.header {
  margin: 30px 0px 0px;
  height: 110px;
}

.header .title {
  letter-spacing: 2px;
  font-size: 38px;
  margin: 5px 0px 10px;
  text-align: left;
}

.header .subtitle {
  text-align: left;
  margin: 2px 0;
}

.button {
  text-align: left;
  background: var(--background-color);
  padding: 8px 15px;
  text-transform: lowercase;
  float: left;
  border-radius: 10px;
  color: var(--foreground-color);
  font-style: italic;
}

.button.disabled {
  opacity: 0.7;
  pointer-events:none;
}

.button:hover {
  background: var(--foreground-color);
  color: var(--background-color);
  cursor: pointer;
}

.header .score-container {
  float: right;
  height: 100%;
  position: relative;
  height: 100%;
}

.header .score::before {
  content: 'SCORE';
  color: var(--foreground-color);
  position: absolute;
  left: 0;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.header .score {
  background: var(--background-color);
  color: var(--foreground-color);
  width: 120px;
  border-radius: 10px;
  font-size: 34px;
  line-height: 135px;
  font-weight: 500;
  height: 100%;
}

.rules h4 {
  margin-bottom: 0px;
  font-size: 18px;
}

.rules p {
  font-size: 17px;
  margin-top: 5px;
  font-weight: 200;
}

.footer {
  font-weight: 300;
  font-style: italic;
  margin: 20px 0 20px;
}

.game {
  width: 400px;
  margin: 0 auto;
}

.game .board {
  border-radius: 10px;
  background: var(--background-color);
  margin: 10px 0px 5px;
}

.game .selector {
  border-radius: 10px;
  background: var(--background-color);
}

.game .piece-text {
  fill: var(--primary-color);
  font-weight: 900;
  font-size: 22px;
}

.game .selector .selected .piece {
  stroke: #1F78B4;
  stroke-width: 5px;
}

.game .selector .piece:hover {
  cursor: pointer;
}

.game .piece.piece-0 {
  fill: #1F78B4;
  opacity: 0.20;
}

.game .piece.piece-0:hover {
  opacity: 1.0;
  cursor: pointer;
}

.game .piece.piece-1 {
  fill: #FFFFB3;
}

.game .piece.piece-2 {
  fill: #BEBADA;
}

.game .piece.piece-3 {
  fill: #FB8072;
}

.game .piece.piece-4 {
  fill: #80B1D3;
}

.game .piece.piece-5 {
  fill: #FDB462;
}

.game .piece.piece-6 {
  fill: #B3DE69;
}

.game .piece.piece-7 {
  fill: #FCCDE5;
}

.game .piece.piece-8 {
  fill: #D9D9D9;
}

.game .piece.piece-9 {
  fill: #BC80BD;
}
