:root {
  --primary-color: #2c3e50;
  --background-color: #8DD3C7;
  --foreground-color: #2c3e50;
}

#app {
  font-family: Avenir, Nunito Sans, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--primary-color);
}

hr {
  border: none;
  border-bottom: 1px solid;
  width: 20%;
}

.noselect {
  user-select: none;
}

.rules h4 {
  margin-bottom: 0px;
  font-size: 18px;
}

.rules p {
  font-size: 17px;
  margin-top: 5px;
  font-weight: 200;
}

.footer {
  font-weight: 300;
  font-style: italic;
  margin: 20px 0 20px;
}

.game {
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
}

.game .header {
  margin: 30px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game .header .title {
  letter-spacing: 2px;
  font-size: 38px;
  margin: 5px 0px 10px;
}

.game .header .button {
  background: var(--background-color);
  color: var(--foreground-color);
  padding: 8px 15px;
  border-radius: 10px;
  text-transform: lowercase;
  font-style: italic;
  float: left;
}

.game .header .button.disabled {
  opacity: 0.7;
  pointer-events:none;
}

@media(hover: hover) and (pointer: fine) {
  .game .header .button:hover {
    background: var(--foreground-color);
    color: var(--background-color);
    cursor: pointer;
  }
}

.game .header .score-container {
  background: var(--background-color);
  width: 30%;
  border-radius: 10px;
  position: relative;
}

.game .header .score::before {
  content: 'SCORE';
  color: var(--foreground-color);
  font-size: 14px;
  position: absolute;
  top: -60%;
  left: 0;
  right: 0;
}

.game .header .score {
  color: var(--foreground-color);
  font-size: 34px;
  font-weight: 500;
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
}

.game .board {
  border-radius: 10px;
  background: var(--background-color);
  margin: 10px 0px 5px;
}

.game .selector {
  border-radius: 10px;
  background: var(--background-color);
}

.game .piece-text {
  fill: var(--primary-color);
  font-weight: 900;
  font-size: 22px;
}

@media(hover: hover) and (pointer: fine) {
  .game .selector .piece-text {
    cursor: pointer;
  }
}

.game .selector .selected .piece {
  stroke: #1F78B4;
  stroke-width: 5px;
}

@media(hover: hover) and (pointer: fine) {
  .game .selector .piece:hover {
    cursor: pointer;
  }
}

.game .piece.piece-0 {
  fill: #1F78B4;
  opacity: 0.20;
}

@media(hover: hover) and (pointer: fine) {
  .game .piece.piece-0:hover {
    opacity: 1.0;
    cursor: pointer;
  }
}

.game .piece.piece-1 {
  fill: #FFFFB3;
}

.game .piece.piece-2 {
  fill: #BEBADA;
}

.game .piece.piece-3 {
  fill: #FB8072;
}

.game .piece.piece-4 {
  fill: #80B1D3;
}

.game .piece.piece-5 {
  fill: #FDB462;
}

.game .piece.piece-6 {
  fill: #B3DE69;
}

.game .piece.piece-7 {
  fill: #FCCDE5;
}

.game .piece.piece-8 {
  fill: #D9D9D9;
}

.game .piece.piece-9 {
  fill: #BC80BD;
}

@media only screen and (max-device-width: 450px) {
  .game .header .title {
    letter-spacing: 1px;
    font-size: 36px;
  }

  .game .button {
    padding: 8px 10px;
  }

  .game .header .score::before {
    font-size: 12px;
  }
  
  .game .header .score {
    font-size: 32px;
  }
}
